{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title> tomyself </title>
        <link href="{% static 'blog/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="navigation">
            <h2 style="padding: 10px 5px;"> to myself </h2>
            <div> 
                {% if user.is_authenticated %}
                    Signed in as <h3> {{user.username}}</h3>
                {% else %}
                    Not signed in.
                {% endif %}
            </div>
            <ul class="nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout_view' %}"> logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> profile </a>
                </li>
                {% endif %}
            </ul>
        </div>
    {% block body %}

    {% endblock %}
    </body>
</html>